<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
          <directory suffix="Test.php">./tests/backend/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
          <directory suffix="Test.php">./tests/backend/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./backend</directory>
        </include>
        <exclude>
            <file>./backend/View.php</file>
        </exclude>
        <report>
            <html outputDirectory="tests/backend/coverage"/>
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
        </report>
    </coverage>
    <logging>
        <testdoxText outputFile="tests/backend/coverage/testdox.txt"/>
    </logging>
</phpunit>
