/tmp
/users.json
/INITIAL_ADMIN_PASSWORD.txt
/password_resets.json
/mfa_encryption.key
/audit_state.json
/users.json.mfa.blank
/audit_encryption.key
/audit_log.jsonl
/audit_log.jsonl.pruned
/logs/*.log
/reports
/reports_encryption.key
/report_state.json
